<div class="container mt-5">
  <div class="w-75 mx-auto">
    <select name="filter" class="form-control"> 
      <option value="家居物業">家居物業</option>
      <option value="交通出行">交通出行</option>
      <option value="休閒娛樂">休閒娛樂</option>
      <option value="餐飲食品">餐飲食品</option>
      <option value="其他">其他</option>
    </select>

    <p>總金額: <span class="h4">{{ this.totalAmount }}</span></p>

    {{!-- record plane --}}
<ul class="list-group">
  {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto mr-auto">
          <h4 style="display: inline; vertical-align: middle;">
            {{ this.name }}
          </h4>
          <small>{{ this.date }}</small>
        </div>
        <div class="col-auto mr-auto">
            <span>$</span>
            <span class="amount">{{this.amount}}</span>
        </div>
        <div class="col-auto">
          <a class="btn btn-info" href="./todos/{{ this._id }}/edit">修改</a>
          <form action="./todos/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">刪除</button>
          </form>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
  
  {{!--<div class="row">
    <div class="col-12 col-lg-10 text-center">
      <a href="/records/new" class="btn btn-primary mt-5">新增支出</a>
    </div>--}}
  </div>
</div>
